.container-mt-5 {
  margin-top: 30px;
  padding: 20px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  width: 50%;
}

.search-input {
  padding-right: 40px; 
}

.table-heading {
  display: flex;
  justify-content: center;
  color: #791b8e;
}

.text-end {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 70%;
}

input[type="text"]:focus {
  outline: none;
  border-color: #3f0065;
  color: #2c5581;
}

.eSnilV {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  height: 100%;
  color: #4b3e51;
  width: 100%;
  outline: none;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
}

.eztHnh {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  height: 100%;
  color: #2c5581;
  width: 100%;
  outline: none;
  user-select: none;
  overflow: hidden;
  cursor: pointer;
}

.erkbiK div:first-child {
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  text-overflow: ellipsis;
  color: #515a68;
}

.dataTable tbody tr:nth-child(odd) {
  background-color: rgb(103, 18, 103); 
  color: white;
}

.dataTable {
  border-collapse: collapse;
  width: 100%;
}

.dataTable th,
.dataTable td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #223788;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #9b59b6; 
}

.pagination {
  margin-top: 20px;
  text-align: left;
}

.pagination li {
  display: inline-block;
  margin-right: 5px;
  color: #41499f;
  background-color: #223788;
}

.pagination li a {
  padding: 6px 12px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  text-decoration: none;
  color: #2633c2;
}

.pagination li.active a {
  background-color: #007bff;
  color: #fff;
  border-color: #007bff;
}

.status-btn {
  border: none;
  border-radius: 25px;
  padding: 5px 10px;
  color: rgb(99, 83, 83);
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  color: #3737379E;
}

.pagination-controls {
  display: flex;
  align-items: center;
}

.pagination-controls button {
  margin-left: 10px;
  border-radius: 50px;
  background: transparent;
  color: #3f0065;
  font-weight: bold;
  height: 30px;
  width: 30px;
  border: none;
  cursor: pointer;
}

.pagination-controls button.active {
  background-color: #9A6FA4; 
  color: white; 
  border-radius: 30px; 
  padding: 5px 10px; 
}
